body{
    background:url("../img/restaurante.jpeg") no-repeat fixed;
    background-size:cover;
    height:100%;
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin:0 auto;
}
.margin-extra {
    /*margin:20px;*/
}

.row{
    justify-content: center;
}

.fundo-form{
    background-color:#ffffff;
    border-radius:5px;
    margin-top:50px;
    padding: 20px 40px;
}

.input-url::before {
    display:block;
    width:100%;
    font-size:15px;
    color:#555555;
    line-height:1.2;
    margin-bottom:25px;
    margin-top:25px;
}

.input-url::before {
    content:"";
    display:block;
    position:absolute;
    bottom:-2px;
    left:0;
    width:0;
    height:2px;
    -webkit-transition:all 0.4s;
    -o-transition:all 0.4s;
    -moz-transition:all 0.4s;
    transition:all 0.4s;

}

.input-url {
    margin-bottom:25px;
    margin-top:25px;
    border:none;
    border-bottom:2px solid #adadad;
    box-shadow:none;
    border-radius:0;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow:none;
}

.btn-custom {
    color:white;
    background-image: linear-gradient(to bottom, #5fe39f, #264937);
    margin-bottom:25px;
    width:50%;
    height:50px;
    border-radius:10px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
}

.btn-default:hover, .btn-default:focus, .btn-custom:hover{
    color: white;
    background-image: linear-gradient(to bottom, #5fe39f, #306148);
    text-decoration: none;
}

.btn-custom:focus{
    outline: none;
}



.carousel {
    margin-top:25px;
    margin-bottom:25px;
}

.carousel-inner img{
    width: auto;
    height: 400px;
    max-height: 400px;
    min-height: 400px;
    overflow: hidden;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.input-url:focus {
    outline:none;
}
/*.loader-bg{*/
    /*background-color: rgba(0,0,0, .5);*/
    /*width: 100vw;*/
    /*height: 100vh;*/
    /*z-index: 1;*/
/*}*/
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #264737;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    left: calc(50vw - 60px);
    z-index: 1;
    top: 300px;
    position: relative;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.hide{
    display: none !important;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ccc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#copy{
    display: inline;
    margin-left: 5px;
}
#url-example-p{
    display: inline;
}